button {
  margin-right: 8px;
}


.course-image {
  width: 100%;
  height: 200px; /* Задайте желаемую высоту изображения */
  object-fit: cover; /* Изображение сохраняет пропорции и заполняет контейнер */
}
