<div class="main-content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let course of courses">
<!--      *ngFor="let course of filteredCourses$ | async-->
    <mat-card  class="example-card">
  <mat-card-header>
    <mat-card-title>{{course.title}}</mat-card-title>
    <mat-card-subtitle>{{course.category}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{course.icon}}" alt="Icon course" class="course-image">
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-raised-button color="warn" (click)="openDialog(course)">Удалить курс</button>
  </mat-card-actions>
</mat-card>
      </div>
    </div>
  </div>
</div>
