<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title">Мой профиль</h4>
            <p class="card-category">Просмотр данных</p>
          </div>
          <div class="card-body">

              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Логин: {{getUsername()}}" disabled>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email адрес: {{getEmail()}}" type="email" disabled>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Имя: {{getFirstName()}}" type="text" disabled>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Фамилия: {{getLastName()}}" type="text" disabled>
                  </mat-form-field>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Редактировать профиль</h4>
            <p class="card-category">Заполните свой профиль</p>
          </div>
          <div class="card-body">
            <form (ngSubmit)="editUser()" [formGroup]="editForm">
              <div class="row">
                <div class="form-group col-md-6">
                  <mat-form-field class="example-full-width">
                    <mat-label>Логин</mat-label>
                    <input type="text" matInput formControlName="username" name="username" >
                    <mat-hint>Введите изменённый логин</mat-hint>
                    <mat-error *ngIf="editForm.controls['username'].errors?.['pattern']">Введите логин на английском(от 5 до 28 символов)!
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="form-group col-md-6">
                  <mat-form-field class="example-full-width">
                    <mat-label>Email адрес</mat-label>
                    <input type="email" matInput formControlName="email" name="email" >
                    <mat-hint>Введите изменённый email</mat-hint>
                    <mat-error *ngIf="editForm.controls['email'].errors?.['pattern']">Введите валидный email!
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-md-6">
                  <mat-form-field class="example-full-width">
                    <mat-label>Имя</mat-label>
                    <input type="text" matInput formControlName="first_name" name="first_name" >
                    <mat-hint>Введите изменённое имя</mat-hint>
                    <mat-error *ngIf="editForm.controls['first_name'].errors?.['pattern']">Введите имя на русском(от 2 до 19 символов)!
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="form-group col-md-6">
                  <mat-form-field class="example-full-width">
                    <mat-label>Фамилия</mat-label>
                    <input type="text" matInput formControlName="last_name" name="last_name" >
                    <mat-hint>Введите изменённую фамилию</mat-hint>
                    <mat-error *ngIf="editForm.controls['last_name'].errors?.['pattern']">Введите фамилию на русском(от 2 до 26 символов)!
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button type="submit" class="btn btn-danger pull-right">Обновить данные</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
