<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <form>
        <div class="input-group no-border">
          <input type="text" value="" class="form-control" placeholder="Поиск..." [formControl]="filter">
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6" *ngFor="let course of filteredCourses$ | async">
        <div class="card card-stats">
          <div  class="card-header  card-header-icon">
            <div class="card-icon">
              <img src=" {{course.icon}} " alt="Course icon">
            </div>
            <p class="card-category">{{ course.category }}</p>
            <h3 class="card-title">{{ course.title }}
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-symbols-outlined">fit_screen</i>
              <a mat-button [routerLink]="['/view-courses', course.id]">Открыть курс</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
