<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div fxLayout="row wrap">
        <h3>Видео курса</h3>
      </div>
      <div *ngIf="featuredVideos.length==0">
        <p>В данном курсе нет видеокурсов.
      </div>
      <div fxLayout="row wrap" fxLayoutGap="12px grid">
        <div fxFlex="33%" *ngFor="let featuredVideo of featuredVideos">
          <app-video-card [video]="featuredVideo"></app-video-card>
        </div>
      </div>
    </div>
  </div>
</div>
